<!DOCTYPE html>
<html>
<head>
    <% var page = "test"%>
    <% include ../partials/header/head.ejs %>
</head>
<body>
    <% include ../partials/header/nav.ejs %>


<% include ../partials/footer/footer.ejs %>
</body>
</html>